.line1 {
    background-image: url('~@img/btn/btn_1_false.png');
}
.line1_active {
    background-image: url('~@img/btn/btn_1_true.png');
}
.line2 {
    background-image: url('~@img/btn/btn_2_false.png');
}
.line2_active {
    background-image: url('~@img/btn/btn_2_true.png');
}
.line3 {
    background-image: url('~@img/btn/btn_3_false.png');
}
.line3_active {
    background-image: url('~@img/btn/btn_3_true.png');
}
.line4 {
    background-image: url('~@img/btn/btn_4_false.png');
}
.line4_active {
    background-image: url('~@img/btn/btn_4_true.png');
}
.line5 {
    background-image: url('~@img/btn/btn_5_false.png');
}
.line5_active {
    background-image: url('~@img/btn/btn_5_true.png');
}
.line6 {
    background-image: url('~@img/btn/btn_6_false.png');
}
.line6_active {
    background-image: url('~@img/btn/btn_6_true.png');
}
.line7 {
    background-image: url('~@img/btn/btn_7_false.png');
}
.line7_active {
    background-image: url('~@img/btn/btn_7_true.png');
}
.line8 {
    background-image: url('~@img/btn/btn_8_false.png');
}
.line8_active {
    background-image: url('~@img/btn/btn_8_true.png');
}
.line9 {
    background-image: url('~@img/btn/btn_9_false.png');
}
.line9_active {
    background-image: url('~@img/btn/btn_9_true.png');
}
.line10 {
    background-image: url('~@img/btn/btn_10_false.png');
}
.line10_active {
    background-image: url('~@img/btn/btn_10_true.png');
}
.station_false {
    background-image: url('~@img/btn/btn_false.png');
}
.station1 {
    background-image: url('~@img/btn/btn1_true.png');
}
.station2 {
    background-image: url('~@img/btn/btn2_true.png');
}
.station3 {
    background-image: url('~@img/btn/btn3_true.png');
}
.station4 {
    background-image: url('~@img/btn/btn4_true.png');
}
.station5 {
    background-image: url('~@img/btn/btn5_true.png');
}
.station6 {
    background-image: url('~@img/btn/btn6_true.png');
}
.station7 {
    background-image: url('~@img/btn/btn7_true.png');
}
.station8 {
    background-image: url('~@img/btn/btn8_true.png');
}
.station9 {
    background-image: url('~@img/btn/btn9_true.png');
}
.station10 {
    background-image: url('~@img/btn/btn10_true.png');
}
.dot {
    background-image: url('~@img/dot/dot.png');
}
.dot1 {
    background-image: url('~@img/dot/dot1.png');
}
.dot2 {
    background-image: url('~@img/dot/dot2.png');
}
.dot3 {
    background-image: url('~@img/dot/dot3.png');
}
.dot4 {
    background-image: url('~@img/dot/dot4.png');
}
.dot5 {
    background-image: url('~@img/dot/dot5.png');
}
.dot6 {
    background-image: url('~@img/dot/dot6.png');
}
.dot7 {
    background-image: url('~@img/dot/dot7.png');
}
.dot8 {
    background-image: url('~@img/dot/dot8.png');
}
.dot9 {
    background-image: url('~@img/dot/dot9.png');
}
.dot10 {
    background-image: url('~@img/dot/dot10.png');
}
